*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background:linear-gradient(120deg, #7ce86f ,#cbcb8b);
    flex-wrap: wrap;
}
.registration{
    max-width: 600px;
    width: 100%;
    background:#fff;
    padding: 25px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.registration .title{
    font-size:25px;
    font-weight: 700;
    /* position: relative;
    left: 28%; */
    text-align: center;
}
.registration form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:2px 0 12px 0 ;
}
form .input-box{
    width: calc(100% / 2 - 20px);
    margin: 20px 0 12px 0;
}
form .input-box input{
    height: 42px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: .1px solid #340b0b;
    font-size: 16px;
    background: #eee;
    padding-left: 15px;
    border-bottom-width: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
form .button{
    height: 45px;
    width: 100%;
    margin: 45px 0;

}
form .button input{
    cursor: pointer;
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: .1px solid #340b0b;
    font-size: 16px;
    background: #eee;
    border-bottom-width: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.login{
    max-width: 500px;
    width: 100%;
    background:#ffffff;
    padding: 25px 30px ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.login .title{
    font-size:25px;
    font-weight: 700;
    /* position: relative;
    left: 32%; */
    text-align: center;
}
.login form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:2px 0 12px 0 ;
}
form .input-boxL{
    width: 100%;
    margin: 20px 0 12px 0;
}
form .input-boxL input{
    height: 42px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: .1px solid #340b0b;
    font-size: 16px;
    background: #eee;
    padding-left: 15px;
    border-bottom-width: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.directToLogin{
    display: flex;
    justify-content: space-around;
}
.directToLogin .button a{
    text-decoration: none;
    padding: 10px 50px;
    outline: none;
    border-radius: 5px;
    border: .1px solid #340b0b;
    font-size: 16px;
    background: #eee;
    border-bottom-width: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media(max-width:768px){
    form .input-box{
        width: 100%;
    }
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(200, 182, 94);
    padding: .5rem 2rem;
    border-radius: 1.5rem;
    margin: 0 3rem;
}
.viewAdmin .container h1{
    font-size: 1.5rem;
}
.viewAdmin .container h2{
    font-size: 1rem;
}
.viewAdmin .container h3{
    font-size: 1rem;
}
.viewAdmin .container .image img{
    width: 5rem;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(200, 182, 94);
    padding: .5rem 2rem;
    border-radius: 1.5rem;
    margin: 0 3rem;
}
.profile h1{
    font-size: 1.5rem;
}
.profile h2{
    font-size: 1rem;
}
.profile h3{
    font-size: 1rem;
}
.profile .image img{
    width: 5rem;
}
.profile_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
}
.viewAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
}
.profile_section .update_form{
    background: #eee;
    margin-top: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 1.5rem;
}
.profile_section .update_form h3{
    text-align: center;
    margin-top: 1rem;
}
.profile_section .update_form .home{
    margin-bottom: 1rem ;
}
.profile_section .update_form .home a{
    color: red;
    background-color:  #585757;
    padding: .5rem 2rem;
    border-radius: 2.5rem;
    text-decoration: none;
    color: #121212;
    font-size: small;
    font-weight: 800;
}
.profile_section .update_form form{
    padding: 1rem;
    text-align: center;
    width: 95%;
}
.profile_section .update_form form input{
    width: 70%;
    height: 2rem;
    margin-bottom: .2rem;
    border-radius: .5rem;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: .9rem;
    font-weight: 540;
}
.profile_section .update_form form .submit {
    padding-top: 1rem;
}
.profile_section .update_form form .submit input{
    justify-content: center;
    border-radius: 2.5rem;
    background: #585757;
    color: black;
    font-size: large;
    font-weight: 900;
}
.profile_section .update_form form .submit input:hover{
    background: #fffcfc;
}
.profile_section .update_form .home a:hover{
    background: #fffcfc;
    border: solid;
}
@media(max-width:600px){
    .update_form h3{
        font-size: .1rem;
    }
}
.admin-adder{
    max-width: 600px;
    width: 100%;
    background:#fff;
    padding: 25px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.admin-adder .title{
    font-size:25px;
    font-weight: 700;
    text-align: center;
}
.admin-adder form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:2px 0 12px 0 ;
}
.alert {
    padding: .4rem;
    margin-bottom: 10px;
    border: 1px solid #ff0000;
    color: #ff0000;
    background-color: #ffcccc;
    border-radius: 5px;
    position: relative;
    top: 8px;
    text-align: center;
}
.success {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #008000;
    color: #008000;
    background-color: #ccffcc;
    border-radius: 5px;
    position: relative;
    top: 8px;
    text-align: center;
}
.viewAdmin .buttons {
    display: flex;
    width: 100%;
    height: 2rem;
    gap: .5rem;
    margin-top: 1rem;
    text-align: center;
}
.viewAdmin .buttons .view-btn{
    background-color: #848984;
    width: 50%;
    border-radius: 20px;
    padding: .2rem .3rem .3rem .3rem;
}
.viewAdmin .buttons .view-btn:hover{
    background-color: #dce2dc;
}
.viewAdmin .buttons .view-btn a{
    color: #0c0c0c;
    font-size: 1.2rem;
    font-weight: 600;
}
.viewAdmin .buttons .delete-btn{
    background-color: #fd0202;
    width: 50%;
    border-radius: 20px;
    padding: .2rem .3rem .3rem .3rem;
}
.viewAdmin .buttons .delete-btn:hover{
    background-color: #e0dbdb;
}
.viewAdmin .buttons .delete-btn a{
    color: #014001;
    font-size: 1.2rem;
    font-weight: 600;
}
.allAdmins{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}
.allAdmins .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(200, 182, 94);
    margin: 1rem;
    padding: 1rem;
}
.allAdmins .container .image img{
    width: 2rem;
}
.allAdmins .container h1{
    font-size: 1rem;
}
.allAdmins .container h2{
    font-size: .5rem;
}
.allAdmins .container h3{
    font-size: .5rem;
}
.allAdmins .buttons {
    display: flex;
    width: 100%;
    height: 1.5rem;
    gap: .5rem;
    margin-top: 1rem;
    text-align: center;
}
.allAdmins .buttons .view-btn{
    background-color: #848984;
    width: 50%;
    border-radius: 20px;
    padding: 0 1rem;
}
.allAdmins .buttons .view-btn:hover{
    background-color: #dce2dc;
}
.allAdmins .buttons .view-btn a{
    color: #0c0c0c;
    font-size: .8rem;
    font-weight: 600;
}
.allAdmins .buttons .delete-btn{
    background-color: #fd0202;
    width: 50%;
    border-radius: 20px;
    padding: 0 1rem;

}
.allAdmins .buttons .delete-btn:hover{
    background-color: #e0dbdb;
}
.allAdmins .buttons .delete-btn a{
    color: #014001;
    font-size: .8rem;
    font-weight: 600;
}
.sub-topic{
    padding: 1rem 3rem;
}
hr{
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 90%;
    height: .8rem;
    background: #848984;
    border-radius: 20px;
}
